body

{

    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqoxWD5GnUJe4Iw0KDVoA8LHUPf5FVftAbQRX1wOqwonSKxELRbSaX40iB5nA7j3m-mBo&usqp=CAU");  
    background-size: cover;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}



.customer{

}
.contains{
    justify-content: center;
}
.up{
    display: flex;
    flex-direction: column;
align-items: center;
}

.img{
   
}
.ceb-img{
    width: 100px;
    height: 100px;
}

.span{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    font-weight: 100;
}

.ceb{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}










.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contains-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.register{
    font-size: 24px;
    color: #fd3995;
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;

    
}





















.c-down{
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
width: 40%;




}




.ac-no{

    display: flex;
    width: 80%;

   
   
}

.up-title{
    color: #212529;
    font-weight: 600;
    font-size: 14px;

    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

.icon-border{
    background-color: #d7d9da;
    border: 1px solid gray;
}

.icon{
   
    

}

.r-icon{
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.account{

width: 100%;

}

input.account::placeholder {
    margin-left: 50px;
 
   
  }









.user-name, .date , .value{
    display: flex;
    width: 80%;
}







.save{

display: flex;
justify-content: center;
align-items: center;
background-color: #1dc9b7;
border-radius: 10px;
width: 100px;
height: 50px;
cursor: pointer;
}

.icon-b{
    justify-content: center;
    margin-left: 10px;
    color: white;
    font-size: 18px;
  
    
   
}

.save-btn{
    padding: 10px;
    color: white;
    border: none;
    background-color: #1dc9b7;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}



.star{
    color: #fd3995;
}



.red-border{
border: 1px solid red;
}